/* Text*/
.text-center {
    text-align: center;
}
.italic {
    font-style: italic;
}
.bold{
    font-weight: 1000;
}
.semi-bold{
    font-weight: 700;
}
.light-text{
    font-weight: 500;
}
.buyuk-baslik
{
    font-size: 3.5rem;
}
.ara-baslik{
    font-size: 2.75rem;
}

.baslangic-small
{
    font-size: 1.25rem;
}
.baslangic-medium{
    font-size:1.5rem;
}
.baslangic-big {
    font-size:2rem;
}
/* Colors */
.ap-dark-purple{
    background: #690669;
}
.ap-dark-purple-sy{
    background: #690669a3;
}
.ap-light-purple {
    background:#AA96DA ;
}
.ap-knicks-blue{
    background:#006ab6cf;
}
.ap-mor{
    background: #aa96da37;
}
.ap-beyaz{
    background: white;
}
.border-3{
    border: 3px,solid, black;
}
.ap-sicak{
    background-image: url(/images/celcius.jpg);
    width: 100%;
    background-position: top;
}
.ap-siyah{
    background: rgba(0, 0, 0, 0.951);
}
.yr-dark-purple
{
    color: #690669;
}
.yr-liberty{
    color:#a1c7b6 
}
.ap-knicks-orange
{
    background: #F58426
}
.ap-red{
    background:rgb(132, 5, 5)
}
.ap-yesil{
    background: #3e5a2c;
}
.ap-img-ny{
    background-image: url(/images/sss-3.jpg);
    width: 100%;
    background-position: center;
}
.ap-liberty{
    background: none;
}
.ap-img-cinema{
    background: url(/images/auditorium-audience-red-darkness-theatre-stage-1394394-pxhere.com.jpg);
    width: 100%;
    background-position: center;
}
.ap-lala{
    background: url(/images/1232005.jpg);
    width: 100%;
    background-position:top;
}
.ap-eva{
    background: url(/images/Phillips-Neon-Genesis-Evangelion.webp);
    width: 100%;
    background-position:top;
}
.ap-mavi-sy{
    background:#0a85dc8e;
}
.ap-vic{
    background: url(/images/vict.jpg);
    width: 100%;
    background-position: top;
}
.ap-acik-kirmizi-sy{
    background: rgba(216, 60, 8, 0.619);
}
.ap-gri-sy{
    background: rgba(0, 0, 0, 0.5);
}
.ap-spor{
    background: url(/images/sport.jpg);
    width: 100%;
    background-position: center;
}
.ap-chess{
    background: url(/images/chess-1226126_1920.jpg);
    width: 100%;
    background-position: center;
}
.ap-sinemalar{
    background: url(/images/sinemalar.jpg);
    width: 100%;
    background-position: center;
}

.knicks-blue{
    color:#006ab6cf;
}

/* Container */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.table-primary{
    display: block;
    margin: auto;
}