#anasayfa .name2{
    margin-top: 1rem;
    margin-bottom: 0.75rem;

}
.about-container{
    grid-template-columns: repeat(1, 1fr);
    max-width: 90%;
}
.right-about{
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
}
.about-container .left-about{
    margin: 0;
}

.table-primary{
    max-width: 500px;
}
.ny-baslik{
    font-size: 3rem;
    
}
.wiki-table{
    margin-left: 2.14rem;
  }
  .sutun {
    flex: 100%;
    max-width: 100%;    margin: 0    ;}
      