/* Text*/
.text-center {
    text-align: center;
}

.baslangic-small
{
    font-size: 1.25rem;
}
.baslangic-medium{
    font-size:1.5rem;
}
.baslangic-big {
    font-size:2rem;
}
/* Colors */
.ap-dark-purple{
    background: #690669;
}
.ap-light-purple {
    background:#AA96DA ;
}

/* Container */
.container{
    max-width: 1200px;
    margin: 0 auto;
}