#anasayfa .name2{
    margin-top: 1rem;
    margin-bottom: 0.75rem;

}
.about-container{
    grid-template-columns: repeat(1, 1fr);
}
.about-container .right-about{
    grid-template-columns: repeat(1, 1fr);
}
.about-container .left-about{
    padding-right: 0rem;
}
